@font-face {
  font-family: "iconfont"; /* Project id 4029079 */
  src: url('iconfont.woff2?t=1682025786322') format('woff2'),
       url('iconfont.woff?t=1682025786322') format('woff'),
       url('iconfont.ttf?t=1682025786322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ds-jifen:before {
  content: "\e580";
}

.ds-shoucang:before {
  content: "\e577";
}

.ds-zan:before {
  content: "\e579";
}

.ds-liulan:before {
  content: "\e581";
}

.ds-huati:before {
  content: "\e578";
}

.ds-lianjie:before {
  content: "\e599";
}

.ds-pahang2:before {
  content: "\e710";
}

.ds-pahang:before {
  content: "\e709";
}

.ds-zhou:before {
  content: "\e711";
}

.ds-zhou2:before {
  content: "\e712";
}

.ds-zhuanti:before {
  content: "\e707";
}

.ds-zhuanti2:before {
  content: "\e708";
}

.ds-wenzhang2:before {
  content: "\e706";
}

.ds-wenzhang:before {
  content: "\e705";
}

.ds-ziyuan:before {
  content: "\e703";
}

.ds-ziyuan2:before {
  content: "\e704";
}

.ds-shipinwenjian:before {
  content: "\e600";
}

.ds-yonghu:before {
  content: "\e701";
}

.ds-yonghu2:before {
  content: "\e702";
}

.ds-liwu2:before {
  content: "\e700";
}

.ds-gouwu:before {
  content: "\e695";
}

.ds-vip2:before {
  content: "\e686";
}

.ds-faxian2:before {
  content: "\e684";
}

.ds-dongman2:before {
  content: "\e674";
}

.ds-zhuye:before {
  content: "\e671";
}

.ds-zhuye2:before {
  content: "\e672";
}

.ds-daoxu:before {
  content: "\e557";
}

.ds-fenxiang:before {
  content: "\e569";
}

.ds-biaoqian:before {
  content: "\e567";
}

.ds-mingxing:before {
  content: "\e675";
}

.ds-chuangzuo:before {
  content: "\e571";
}

.ds-dongman:before {
  content: "\e673";
}

.ds-faxian:before {
  content: "\e683";
}

.ds-yingyong:before {
  content: "\e687";
}

.ds-new:before {
  content: "\e691";
}

.ds-sousuo:before {
  content: "\e560";
}

.ds-dianying:before {
  content: "\e679";
}

.ds-liwu:before {
  content: "\e699";
}

.ds-vip:before {
  content: "\e685";
}

.ds-yinyue:before {
  content: "\e689";
}

.ds-pinglun:before {
  content: "\e693";
}

.ds-emojilight:before {
  content: "\e568";
}

.ds-exit:before {
  content: "\e584";
}

.ds-lishijilu:before {
  content: "\e576";
}

.ds-gengduo:before {
  content: "\e555";
}

.ds-menu:before {
  content: "\e553";
}

.ds-yinhao:before {
  content: "\e554";
}

.ds-xunhuan:before {
  content: "\e585";
}

.ds-xunhuanall:before {
  content: "\e586";
}

.ds-tanhao:before {
  content: "\e595";
}

.ds-ok:before {
  content: "\e594";
}

.ds-icmore:before {
  content: "\e556";
}

.ds-correct:before {
  content: "\e562";
}

.ds-suiji:before {
  content: "\e587";
}

.ds-new2:before {
  content: "\e692";
}

.ds-yingyong2:before {
  content: "\e688";
}

.ds-pinglun2:before {
  content: "\e694";
}

.ds-zongyi:before {
  content: "\e681";
}

.ds-mingxing2:before {
  content: "\e676";
}

.ds-shezhi2:before {
  content: "\e698";
}

.ds-dianshi2:before {
  content: "\e678";
}

.ds-dianying2:before {
  content: "\e680";
}

.ds-zongyi2:before {
  content: "\e682";
}

.ds-gouwu2:before {
  content: "\e696";
}

.ds-yinyue2:before {
  content: "\e690";
}

.ds-jiantouyou:before {
  content: "\e565";
}

.ds-fanhui:before {
  content: "\e566";
}

.ds-jiantoushang:before {
  content: "\e564";
}

.ds-jiantouxia:before {
  content: "\e563";
}

.ds-yueliang:before {
  content: "\e574";
}

.ds-taolunqu:before {
  content: "\e573";
}

.ds-shuaxin:before {
  content: "\e559";
}

.ds-taiyang:before {
  content: "\e575";
}

.ds-shaixuan:before {
  content: "\e558";
}

.ds-youxiang:before {
  content: "\e583";
}

.ds-guanbi:before {
  content: "\e561";
}

.ds-bofang1:before {
  content: "\e593";
}

.ds-zanting:before {
  content: "\e592";
}

.ds-anquan:before {
  content: "\e582";
}

.ds-shanchu:before {
  content: "\e572";
}

.ds-shezhi:before {
  content: "\e697";
}

.ds-dianshi:before {
  content: "\e677";
}

.ds-jingyin:before {
  content: "\e588";
}

.ds-shengyin:before {
  content: "\e589";
}

.ds-tishi:before {
  content: "\e598";
}

.ds-lingdang:before {
  content: "\e597";
}

.ds-xiaqu:before {
  content: "\e590";
}

.ds-shangqu:before {
  content: "\e591";
}

.ds-huo:before {
  content: "\e596";
}

.ds-mima:before {
  content: "\e570";
}
